body {
  font-family: "Inconsolata", monospace;
  background: rgb(211, 186, 187);
  background: linear-gradient(
    90deg,
    rgba(211, 186, 187, 1) 0%,
    rgba(219, 198, 199, 1) 45%,
    rgba(242, 231, 231, 1) 100%
  );
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar {
  display: block;
  height: 50px;
  margin: 10px;
  padding: 20px;
  font-size: 40px;
  background: -webkit-linear-gradient(rgb(187, 155, 155), #8d8d8d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
}
/* .dropbox {
  position: relative;
  width: 700px;
  height: 500px;
  background-color: #d3babb;
  opacity: 0.8;
  margin: 0 auto;
  box-shadow: 8px 5px 15px 10px #7f6869 inset;
  border-radius: 10px;
}
.textbox {
  position: relative;
  top: 50px;
  transform: translateY(-20%);
  text-align: center;
  font-size: 72px;
  color: #e6e6e6;
} */

.image-parent {
  display: flex;
  flex-direction: row;
}
.image-container {
  position: relative;
  margin: 10px;
  padding: 5px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
}

.image {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-radius: 10px;
  padding: 5px;
}

.overlay {
  position: absolute;
  top: 10px;
  bottom: 0px;
  left: 10px;
  right: 0px;
  height: 200px;
  width: 200px;
  border-radius: 5px;
  opacity: 0;
  transition: 0.9s ease;
  background-color: #d3babb;
}

.image-container:hover .overlay {
  opacity: 0.8;
}

.text {
  color: white;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}
a:hover {
  font-weight: bold;
  color: #969393;
  letter-spacing: 2px;
  transition: 0.5s ease-out;
}

.aboutMe {
  background: url("https://res.cloudinary.com/dmxibubc5/image/upload/v1592865368/tumblr_mfznxqzo041qzdon6o6_1280_gkwdlv.jpg");
  background-size: cover;
  background-color: #DDDAD9;
}
.aboutMain {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.mainText {
  height: 30%;
  width: 35%;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
}

h6 {
  font-size: 15px;
  color: white;
}

#homeLink{
  color: #453521;
  font-weight: bold;
 
}
@media (min-width: 545px) and (max-width: 768px){
  main{
    display: flex;
  }
}

@media (max-width: 768px) {
  .image-parent{
  flex-direction: column;
}
  main{
    width 33%;
  }
}